<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="layout.css">
    <title>forum</title>
</head>
<div class='layout'>
    <a href="..\layout\layout.html">Back</a>
    <p>เว็บกระทู้ จัดวางหน้าเว็บในส่วน navigation และcontent ด้วย flex ทั้งหมด</p>
    <a href="https://www.reddit.com/">https://www.reddit.com/</a>
    <img src="..\layout\img\forum.png" alt="รูปเว็บกระทู้">
</div>

<body>

</body>

</html>