<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="layout.css">
    <title>Layout</title>
</head>

<body>
    <div class="head">Header</div>
    <nav class="menu">
        <a class="active" href="..\layout\layout.html">Home</a>
        <a href="..\layout\news.html">News</a></li>
        <a href="..\layout\shopping.html">Shopping</a>
        <a href="..\layout\forum.html">Forum</a>

    </nav>
    <main>
        <section id="sidebar">
            <a class="active" href="..\layout\layout.html">Home</a>
            <a href="..\layout\news.html">News</a></li>
            <a href="..\layout\shopping.html">Shopping</a>
            <a href="..\layout\forum.html">Forum</a></section>
        <section id="content">
            <article class="flex-container">
                <div class="flex-item"><img class="flex-image">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ipsa, alias aliquid. Eius a dicta accusamus at. Ipsum, molestiae voluptatibus. Veniam sint ullam
                    delectus dolor eveniet quod eos consequuntur aspernatur impedit?</div>
                <div class="flex-item"><img class="flex-image">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Dicta consequatur eligendi veritatis molestias placeat cupiditate quaerat cumque ullam soluta.
                    Doloremque distinctio enim perspiciatis accusamus ab iusto, architecto libero tenetur quod.</div>
                <div class="flex-item"><img class="flex-image">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Qui excepturi neque, accusantium adipisci asperiores ut architecto minus quod quas, consequatur
                    cumque dolore quidem veritatis provident sequi. Voluptas consectetur consequuntur laboriosam!</div>
            </article>
            <article class="grid-container">
                <div class="grid-item"><img class="grid-image">grid content 1</div>
                <div class="grid-item"><img class="grid-image">grid content 2</div>
                <div class="grid-item"><img class="grid-image">grid content 3</div>
                <div class="grid-item"><img class="grid-image">grid content 4</div>
                <div class="grid-item"><img class="grid-image">grid content 5</div>
                <div class="grid-item"><img class="grid-image">grid content 6</div>
                <div class="grid-item"><img class="grid-image">grid content 7</div>
                <div class="grid-item"><img class="grid-image">grid content 8</div>
            </article>
        </section>
    </main>
    <div class="foot">Footer</div>

</body>

</html>