<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="layout.css">
    <title>Shopping</title>
</head>
<div class='layout'>
    <a href="..\layout\layout.html">Back</a>
    <p>เว็บ shopee จัดวางหน้าเว็บในส่วน navigation, content และfooter ด้วย flex ทั้งหมด</p>
    <a href="https://shopee.co.th/">https://shopee.co.th/</a>
    <img src="..\layout\img\shopping.png" alt="รูปเว็บช็อปปิ้ง">
</div>

<body>

</body>

</html>